{% extends 'home/home.html' %}
{% block content %}
<div class="row  row justify-content-center mt-3 mb-3">
    <div class="col-sm-4 card">
        <h5 class="card-title">Login</h5>
        <form id="registerFrom" autocomplete=off>
            <div class="mb-3">
                <label for="username"><b>Username*</b></label>
                <input type="text" placeholder="Enter Username" name="username" id="username">
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <i class="fas fa-lock prefix"></i>
                    <label for="psw" data-error="wrong"><b>Password*</b></label>
                    <input type="password" id="psw" name="psw" class="psw-c validate" placeholder="Password">
                </div>
            </div>
            <div class="mb-4">
                <div class="alert alert-warning password-alert" role="alert">
                    <ul>
                        <li class="requirements leng"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> Your password must have 8 characters.</li>
                        <li class="requirements big-letter"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> Your password must have at least 1 capital letter.
                        </li>
                        <li class="requirements num"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> Your password must have at least 1 number.</li>
                        <li class="requirements special-char"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> Your password must have at least 1 special char.</li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="pswrepeat"><b>Confirm Password*</b></label>
                <input type="password" placeholder="Confirm Password" name="pswrepeat" id="pswrepeat">
            </div>
            <div class="mb-3">
                <label for="firstname"><b>First Name</b></label>
                <input type="text" placeholder="Firstname" name="firstname" id="firstname">
            </div>
            <div class="mb-3">
                <label for="middlename"><b>Middle Name</b></label>
                <input type="text" placeholder="Middlename" name="middlename" id="middlename">
            </div>
            <div class="mb-3">
                <label for="lastname"><b>Last Name*</b></label>
                <input type="text" placeholder="Lastname" name="lastname" id="lastname">
            </div>
            <div class="mb-3">
                <label for="gender"><b>Please select gender*</b></label>
                <select id="gender" name="gender" title="Please select gender">
                    <option value="">Select...</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Decline</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="streetaddress"><b>Street Address*</b></label>
                <input type="text" placeholder="Street Address" name="streetaddress" id="streetaddress">
            </div>
            <div class="mb-3">
                <label for="zipcode"><b>Zip Code*</b></label>
                <input type="text" placeholder="Zip Code" name="zipcode" id="zipcode">
            </div>
            <div class="mb-3">
                <label for="City"><b>City*</b></label>
                <input type="text" placeholder="City" name="city" id="city">
            </div>
            <div class="mb-3">
                <label for="state"><b>State*</b></label>
                <input type="text" placeholder="State" name="state" id="state">
            </div>
            <div class="mb-3">
                <label for="email"><b>Email*</b></label>
                <input type="email" placeholder="Email@place.com" name="email" id="email">
            </div>
            <div class="mb-3">
                <label for="cellphonenumber"><b>Cell Phone Number*</b></label>
                <input type="text" placeholder="Cell Phone Number" name="cellphonenumber" id="cellphonenumber">
            </div>
            <div class="mb-3">
                <label for="origincountry"><b>Country of Origin*</b></label>
                <input type="text" placeholder="Country of Origin" name="origincountry" id="origincountry">
            </div>
            <div class="mb-3">
                <label for="dob"><b>Date of Birth*</b></label>
                <input type="text" placeholder="Date of Birth" name="dob" id="dob" data-provide="datepicker">
            </div>
            <div class="mb-3">
                <label for="mbrorg"><b>Member Organization</b></label>
                <input type="text" placeholder="Member Organization" name="mbrorg" id="mbrorg">
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="btnRegister" type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
{% endblock %}