{% extends 'home/home.html' %}
{% block content %}
<section id="galleriesSection" class="mt-2">
    <div class="row">
        <div class="col-sm-3">
            <div id="card1" class="card">
                <img src="images/card1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Please donate now</h5>
                    <p class="card-text">No Child Should Die in the Dawn of Life. Consider Donating Today. Leading
                        the Way the World Understands, Treats and Defeats Childhood Cancer.</p>
                    <a href="#" class="btn btn-primary">Go to Donate page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="images/card1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Everyone has something to give</h5>
                    <p class="card-text">No Child Should Die in the Dawn of Life. Consider Donating Today. Leading
                        the Way the
                        World Understands, Treats and Defeats Childhood Cancer.</p>
                    <a href="#" class="btn btn-primary">Go to Donate page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="images/card1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">How To Donate</h5>
                    <p class="card-text">No Child Should Die in the Dawn of Life. Consider Donating Today. Leading
                        the Way the
                        World Understands, Treats and Defeats Childhood Cancer.</p>
                    <a href="#" class="btn btn-primary">Go to Donate page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="images/card1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">More Donations</h5>
                    <p class="card-text">No Child Should Die in the Dawn of Life. Consider Donating Today. Leading
                        the Way the
                        World Understands, Treats and Defeats Childhood Cancer.</p>
                    <a href="#" class="btn btn-primary">Go to Donate page</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}