{% extends 'backend/home.html' %}
{% block content %}
<!-- {% load static %} -->
<div class="row">
    <div class="col-sm-12">
        <div class="card text-center">
            <div class="card-header">
                This is who we are
            </div>
            <div class="card-body">
                <h5 class="card-title">We help each other</h5>
                <div><video width="60%" height="50%" controls>
                        <source src="{% static '/videos/simple.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video></div>

                <a href="#" class="btn btn-primary">Learn more about us</a>
            </div>
            <div class="card-footer text-muted">
                This is who we are
            </div>
        </div>
    </div>
</div>
{% endblock %}