
{% extends 'backend/home.html' %}
{% block content %}

<div class="row  row justify-content-center mt-3 mb-3">
    <div class="col-sm-6 card">
        <h5 class="card-title">Create a new event</h5>
       <div style="color: red;">{{ error }}</div> 
        <form method='POST' id="eventFrom" name="eventForm" >
            <!--cross-site-request-forgery-->
            {% csrf_token %}

            <!-- <div class="form-group">
                <label for="inputState">Officer</label>
                <select id="inputState" class="form-control" name="officer_name">
                    <option selected value="Leo">Leo</option>
                    <option value="Jason">Jason</option>
                    <option value="Thomas">Thomas</option>
                </select>
            </div> -->

            <div class="form-group">
                <label for="inputEventName">Event name</label>
                <input type="text" class="form-control" id="inputEventName" name="event_name" value="event1" required maxlength="45">
            </div>
            <div class="form-group">
                <label for="inputEventName">Attending need (digits)</label>
                <input type="text" class="form-control" id="inputEventName" name="attending_need" value=10 required pattern="[0-9]+" minlength="1" maxlength="10">
            </div>
            <div class="form-group">
                <label for="missionDesc">Mission Desc</label>
                <textarea class="form-control" id="missionDesc" rows="3" name="mission_desc" value="Mission Desc dddd" required maxlength="225"></textarea>
            </div>

            <div class="form-group">
                <label for="objectiveDesc">Objective Desc</label>
                <textarea class="form-control" id="objectiveDesc" rows="3" name="objective_desc" required  maxlength="225"></textarea>
            </div>
            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Volunteer Date</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2021-06-19" id="example-date-input" required>
                </div>
              </div>

            <div class="form-group">
                <label for="inputAddress">Street</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="street"  value="w567 west uyt" maxlength="25" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" name="city" value="Mesa" required maxlength="25">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control" name="state" maxlength="25">
                     
                        <option selected value="1">AZ</option>
                        <option value="2">MT</option>
                        <option value="3">WY</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip (5 digits)</label>
                    <input type="text" class="form-control" id="inputZip" name="zipcode" required maxlength="25" value="23232" pattern="[0-9]{5}">
                </div>
            </div>

            <button id="btnSignup" type="submit" class="btn btn-primary mb-1">Create a event</button>
            <a class="btn btn-secondary  mb-1" href="/event" role="button">Close</a>
        </form>
    </div>
</div>

{% endblock %}