<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="{% static 'css/jquery.passwordRequirements.css' %}" />
    <link rel="stylesheet" href="{% static 'css/password.css' %}" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        .error {
            color: red;
        }
    </style>
    <!-- Jquery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	<script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!-- Local js library-->
    <!-- <script type="text/javascript" src="donate.js"></script>
    <script type="text/javascript" src="galleries.js"></script>
    <script type="text/javascript" src="contactus.js"></script>
    <script type="text/javascript" src="login.js"></script>
    <script type="text/javascript" src="news.js"></script>
    <script type="text/javascript" src="register.js"></script> -->
    <script type="text/javascript" src="{% static 'js/password.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.passwordRequirements.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/news.js' %}"></script>

    <!-- Local css library-->
    <title>Give Together</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><svg width="105" height="55">
                    <circle cx="45" cy="30" r="20" stroke="#fff" stroke-width="4" fill="#333333"></circle>
                    <text fill="#fff" font-size="10" font-family="Verdana" x="34" y="35">G2G</text>

                    <text fill="#fff" x="10" y="20" style="writing-mode: tb;" font-size="10">
                        Give
                    </text>
                    <text fill="#fff" x="80" y="10" style="writing-mode: tb;" font-size="10">
                        Together
                    </text>

                </svg></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link donateMenu" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item gallerisMenu">
                        <a class="nav-link" href="/officers">Officers</a>
                    </li>
                    <li class="nav-item contactusMenu">
                        <a class="nav-link " href="/event">Event</a>
                    </li>
                    <li class="nav-item newsMenu">
                        <a class="nav-link" href="/news">News</a>
                    </li>
                    <li class="nav-item contactusMenu">
                        <a class="nav-link " href="/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Our Work</a>
                            <a class="dropdown-item" href="#">Members</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Resources</a>
                        </div>
                    </li>
                </ul>



                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav">


                    <li id="btnRegisterHeader" class="nav-item">
                        <a class="nav-link " href="/signup">Register</a>
                    </li>
					   {% if user.is_authenticated %}
						 <li class="btn btn-primary">{{ user.get_username }}</li>
						 <li><a class="nav-link " href="/logout">Logout</a></li>
					   {% else %}
						 <li><a class="nav-link " href="/login">Login</a></li>
					   {% endif %}
                </ul>

            </div>
        </nav>
    </header>

    {% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                   <h2>Welcome {{user.username}}</h2> 
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <iframe width="1000" height="500" src="https://www.youtube.com/embed/XgYq7AdBfTQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <a href="#" class="btn btn-primary">Learn more about us</a>
                </div>
                <div class="card-footer text-muted">
                    <p>Click the button to share your coordinates.</p>

                    <button onclick="getLocation()">Share Coordinates</button>

                    <p id="Geolocation"></p>

                    <script>
                        var x = document.getElementById("Geolocation");

                        function getLocation() {
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(showPosition);
                            } else {
                                x.innerHTML = "Geolocation is not supported by this browser.";
                            }
                        }

                        function showPosition(position) {
                            x.innerHTML = "Latitude: " + position.coords.latitude +
                                "<br>Longitude: " + position.coords.longitude;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}




    <footer>
        <hr />
        Copyright (C) 2021. All rights reserved.
    </footer>
</body>

</html>