{% extends 'backend/home.html' %}
{% block content %}


<div class="row  row justify-content-center mt-3 mb-3">
    <div class="col-sm-4 card">
        <h5 class="card-title">Login</h5>
        <div style="color: red;">{{ error }}</div>
        <form method='POST' id="loginFrom" action="{% url 'login'  %}">
            <!--cross-site-request-forgery-->
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input type="text" class="form-control" name="username" id="username" value="abc" required
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Please enter a valid email address.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" value="123" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
           
            <button id="btnLogin" type="submit" class="btn btn-primary">Login</button>
            <a class="btn btn-info " href="/signup" role="button">Register</a>
            <a class="btn btn-secondary " href="/home" role="button">Close</a>
        </form>
    </div>
</div>
{% endblock %}