{% extends 'backend/home.html' %}
{% block content %}


<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Resp Desc</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    {% if officer_list_key%}
    {% for officer in officer_list_key %}
    <tr>
      <th scope="row">{{officer.officerid}}</th>
      <td>{{officer.name}}</td>
      <td>{{officer.age}}</td>
      <td>{{officer.respdesc}}</td>
      <td><a type="button" href="/officer/update/{{officer.pk}}" class="btn btn-warning">Edit</a></td>
      <td><a href="/officer/delete/{{officer.pk}}" type="button" class="btn btn-danger">Delete</a></td>
    </tr>
    {%endfor%}
    {% endif%}
  </tbody>
</table>

<a href='/createnewofficer' type="button" class="btn btn-primary">Add new Officer</a>
{% endblock %}